.navigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.navigationItem a {
    color: #000;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
    background-color: steelblue;
    border-bottom: 4px solid #000;
    color: white;
}

@media (min-width: 500px) {
    .navigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .navigationItem a {
        color: #000;
        text-decoration: none;
        height: 100%;
        width: auto;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .navigationItem a:hover,
    .navigationItem a:active,
    .navigationItem a.active {
        background-color: steelblue;
        border-bottom: 4px solid #000;
        color: white;
    }
}